.EightBall {
    width : 400px;
    text-align: center;
    margin: auto;
    
}

.EightBall-ball {
    border-radius: 50%;
    border : 2px solid black;
    height : 300px;
    text-align: center;
   
    vertical-align: center;
}


.EightBall-answer {
    vertical-align: center;
    text-align: center;
    height: 150px;
    position: relative;
    top: 70%;
    transform: translateY(-50%);
    font-size: 36px;
}